<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>📚 Becca Reading List 📚</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
    <link href="css/bookList.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="container">
        <h1 class="row justify-content-center mb-4">📚 Becca's Reading List 📚</h1>
        <div class="row">
            <table class="justify-content-center" id="bookList">
                <thead>
                    <tr>
                        <th class="title">Title</th>
                        <th class="author">Author</th>
                        <th class="pages">Pages</th>
                        <th class="audioLength">Audiobook Length</th>
                        <th class="dueOrOwn">Library Due Date/ Own Book?</th>
                        <th class="progressPercent">Progress</th>
                        <th class="">Edit/Delete</th>
                    </tr>
                </thead>


                <tbody id="tableBody">
                    <% books.forEach(book=> { %>
                        <% if(book.isArchived) { %>
                            <tr class="striped">
                                <td class=" title pl-2">
                                    <%= book.title %>
                                </td>
                                <td class="author">
                                    <%= book.author %>
                                </td>
                                <td class="pages">
                                    <%= book.pages %> pages
                                </td>
                                <% let hours; %>
                                    <% let minutes; %>
                                        <% (book.audioLengthMinutes>= 60) ? hours = Math.floor(book.audioLengthMinutes /
                                            60) : hours = book.audioLengthHours %>
                                            <% (book.audioLengthMinutes>= 60) ? minutes = book.audioLengthMinutes % 60 :
                                                minutes = book.audioLengthMinutes %>
                                                <td class="audioLength">
                                                    <%= hours %> hrs, <%= minutes %> mins
                                                </td>
                                                <td class="dueOrOwn">
                                                    <%= book.dueOrOwn %>
                                                </td>
                                                <td class="progressPercent">
                                                    <%= book.progress%> %
                                                        <form class="d-inline" method="POST"
                                                            action="/books/<%=book._id%>/archive?_method=PATCH"
                                                            id="archiveForm">
                                                            <button class="hidden-button float-right"><i
                                                                    class="text-info fas fa-archive"></i></button>
                                                        </form>
                                                </td>
                                                <td class="py-1">
                                                    <a href="/books/<%=book._id %>">
                                                        <button class="btn btn-sm btn-primary">Edit</button>
                                                    </a>
                                                    <form class="d-inline" method="POST"
                                                        action="/books/<%=book._id %>?_method=DELETE">
                                                        <button class="btn btn-sm btn-danger">
                                                            Delete
                                                        </button>
                                                    </form>
                                                </td>
                            </tr>
                            <% } %>
                                <% }) %>

                                    <!--            <tr class="striped">
                <td>Radical Acceptance</td>
                <td>Tara Brach</td>
                <td>333 pages</td>
                <td>12 hrs, 15 min</td>
                <td>Own Audiobook, Book Due 3/16</td>
                <td>Not yet</td>
                <td class="removable">Remove?</td>
            </tr>
            <tr class="non-striped">
                <td>This is How They Tell Me the World Ends</td>
                <td>Nicole Perlroth</td>
                <td>528 pages</td>
                <td>18 hrs, 23 min</td>
                <td>Book Due 3/16</td>
                <td>Not yet</td>
                <td class="removable">Remove?</td>
            </tr>
            <tr class="striped">
                <td>A Mind For Numbers</td>
                <td>Barbara Oakley</td>
                <td>322 pages</td>
                <td>7 hrs, 2 min</td>
                <td>Own Audiobook</td>
                <td>Rereading</td>
                <td class="removable">Remove?</td>
            </tr>
        -->
                </tbody>
            </table>
        </div>

        <div class="col row mt-3">
            <a href="/" type="button" class="text-decoration-none btn btn-med btn-outline-success" id="showAll"> Show
                All
            </a>
            <a href="/favorites" type="button" class="text-decoration-none ml-1 btn btn-med btn-outline-info"
                id="showFavorites"> Show
                Favorites
            </a>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="addBookModal" tabindex="-1" aria-labelledby="addBookModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addBookModalLabel">Add Another Book</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="/" id="newBookForm">

                            <!-- Title Form Input -->
                            <div class="form-group row pr-2">
                                <label class="col-3 text-align-left" for="title">Book Title: </label>
                                <input class="col-8 form-control" type="text" class="input" name="title" id="title"
                                    placeholder="Book Title" required>
                            </div>

                            <!-- Author Form Input -->
                            <div class="form-group row pr-2">
                                <label class="col-3 text-align-left" for="author">Author Name: </label>
                                <input class="col-8 form-control" type="text" placeholder="Author Name" name="author"
                                    id="author">
                            </div>

                            <!-- Pages and Progress Form Inputs -->
                            <div class="form-group row pr-2">
                                <label class="col-3 text-align-left" for="pages">Pages: </label>
                                <input class="col-3 form-control" type="number" id="pages" name="pages" min="0"
                                    max="2000" placeholder="###">
                                <label class="col-3 text-align-left" for="progressPercent">Progress: </label>
                                <input class="col-2 form-control" type="number" id="progressPercent"
                                    name="progressPercent" min="0" max="100" placeholder="##">%
                            </div>

                            <!-- Audiobook Length Form Input -->
                            <div class="form-group row pr-2">
                                <label class="col-3 text-align-left" for="audioLengthHours">Audio Time (hrs): </label>
                                <input class="col-3 form-control" type="text" id="audioLengthHours"
                                    name="audioLengthHours" placeholder="# in hours">
                                <label class="col-3 text-align-left" for="audioLengthMinutes">Audio Time (mins):
                                </label>
                                <input class="col-3 form-control" type="text" id="audioLengthMinutes"
                                    name="audioLengthMinutes" placeholder="# in minutes">
                            </div>

                            <!-- Due or Own Form Input  -->
                            <div class="form-group row pr-2">
                                <label class="col-5 text-align-left" for="dueOrOwn">Date due if library, or if you own
                                    book/audio:
                                </label>
                                <input class="col-6 form-control" type="text" id="dueOrOwn" name="dueOrOwn"
                                    placeholder="ebook due 9/30, own audio">
                            </div>


                            <!-- Modal Footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button class="btn form-btn btn-success" type="submit" id="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <button class="unHide" id="unHide">Un-Hide All Columns</button>
        <br>
        <!-- <div class="row justify-content-center">
            <div class="col-8 bookForm">
                <div class="container">
                    <div class="row">
                        <h3 class="col">Add More Books!</h3>
                    </div>
                    <form method="POST" action="/" id="newBookForm">
                        <div class="form-group row">
                            <label class="col-3 text-align-right" for="title">Book Title: </label>
                            <input class="col-4 form-control" type="text" class="input" name="title" id="title"
                                placeholder="Book Title" required>

                            <label class="col-3" for="pages">Pages: </label>
                            <input class="col-2 form-control" type="number" id="pages" name="pages" min="0" max="2000"
                                placeholder="###">
                        </div>
                        <div class="form-group row">
                            <label class="col-3 text-align-right" for="author">Author Name: </label>
                            <input class="col-4 form-control" type="text" placeholder="Author Name" name="author"
                                id="author">

                            <label class="col-3" for="audioLength">Audiobook Length: </label>
                            <input class="col-2 form-control" type="text" id="audioLength" name="audioLengthMinutes"
                                placeholder="# in minutes">
                        </div>
                        <div class="form-group row">
                            <label class="col-3" for="dueOrOwn">Date due if library, or if you own either book/audio:
                            </label>
                            <input class="col-4 form-control" type="text" id="dueOrOwn" name="dueOrOwn"
                                placeholder="ebook due 9/30, own audio">
                            <label class="col-3" for="progressPercent">Progress: </label>
                            <input class="col-2" type="number" id="progressPercent" name="progressPercent" min="0"
                                max="100" placeholder="# %">
                            <br>

                        </div>
                        <br>

                        <button class="btn form-btn btn-dark" type="submit" id="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div> -->
    </div>
    <h2 id="info"></h2>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>
    <script src="script.js"></script>
    </div>
</body>

</html>
